body, html{
    width: 100%;
    height: 100%;
    
}
.carousel-inner{
    height: 700px;
}

.carousel-inner img {
     
}

.carousel-caption{
    position: absolute;
    top: 50%;
     transform: translateY(-60%);
}